body {
  background: #262627;
  color: #e5e1fc;
  margin-top: 5rem;
}
#bottom {
  position: absolute;
  bottom: 50;
  left: 50;
}

h1, h2, h3, h4, h5, h6 {
  color: #abb3d4;
}
.collapse{
  color: #e5e1fc;
}
.bg-steel {
  background-color: #3d2173;
}

.site-header .navbar-nav .nav-link {
  color: #a6eeef;
}

.card-body{
  background-color: #262627;
}

.name-body{
  background-color: #3d2173;
}


.input-group{
  background-color: #4e4c52;

}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #423f3f;
  padding: 10px 20px;
  border: 1px solid #b1a4e5;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #c7c4f5;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}


.account-heading {
  font-size: 2.5rem;
}

.color-grey-9:nth-of-type(2){
  display:none;
}

.align-to-right {
  float: right;

 }
 .align-to-left {
  float: left;

 }

 .make-me-fit {
	display: inline-block;
}


