{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
           
           <small>  
             <button
                 type="button"
                 class="btn btn-sm btn-primary dropdown-toggle"
                 data-bs-toggle="dropdown"></button>
               <ul class="dropdown-menu">
                 <li>
                     <p class="dropdown-item btn"
                     href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</p>
                 </li>
                 <li>
                  <p type="button" class=" dropdown-item btn" data-toggle="modal" data-target="#deleteModal">Delete</p>
                 </li>
   
               </ul>
            </small>   
        {% endif %}
      </div>
      <h4 class="article-title">{{ post.title }}</h4>
      <p class="article-content">{{ post.content }}</p>
    </div>
    <div>
      
      <small>{{ post.likes|length}}</small> 
      {% if current_user in post.likes|map(attribute="user")%}
      <a href="/like-post/{{post.id}}"><i class="fas fa-thumbs-up"></i></a>
      {% else %}
      <a href="/like-post/{{post.id}}"><i class="far fa-thumbs-up"></i></a>
      {% endif %}
    </div>
  </article>
  <div>

    <div >
      <div class="collapse" id="comments-{{post.id}}">
        <div class="card">
          <div class="card-body" id="comments-expanded-{{post.id}}">
            {% for comment in post.comments %}
              <div class="d-flex justify-content-between align-items-centre">
                <p>
                  <a class="mr-2" href="{{ url_for('users.user_posts', username=comment.user.username) }}">{{ comment.user.username }}</a>
                    {{comment.text}}
                </p>
              
              {% if current_user == comment.user or current_user == post.author %}
            <div class="btn-group">
              
              <button
                type="button"
                class="btn btn-sm btn-primary dropdown-toggle"
                data-bs-toggle="dropdown"></button>
              <ul class="dropdown-menu">
                <li>
                  <a
                    href="/delete-comment/{{comment.id}}"
                    class="dropdown-item">Delete</a>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
              <br>
              {% endfor %}
            
          </div>
        </div>
      </div>
      <p class="card-text">
      {% if post.comments|length > 0 %}
      <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
        <small>View {{post.comments|length}} Comments</small>
      </a>
      {% else %}
      <small class="text-muted">No Comments</small>
      {% endif %}
     </p>

       <form
          class="input-group mb-3"
          method="POST"
          action="/create-comment/{{post.id}}">
          <input
              type="text"
              id="text"
              name="text"
              class="form-control"
              placeholder="Comment something!"/>
          <button type="submit" class="btn btn-primary">Comment</button>
        </form>
    </div>
  </div>
   
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
